.place__title {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0px 0px 48px 0px;
    padding: 0;
    max-width: 460px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", "Arial", "sans-serif";
    font-size: 72px;
    font-weight: 900;
    line-height: 1.056;
    letter-spacing: 0em;
    text-align: left;
    vertical-align: bottom;
}
@media screen and (max-width: 768px) {
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 1.095;
    }
}
@media screen and (max-width: 425px) {
    .place__title {
        padding-left: 16px;
        margin-bottom: 32px;
        max-width: 288px;
        font-size: 32px;
        line-height: 1.094;
    }
}