.header__links {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 6px;
    display: flex;
    flex-flow: row nowrap;
    gap: 0px 18px;
    justify-content: space-between;
    align-items: flex-end;
}
@media screen and (max-width: 320px) {
    .header__links {
        padding-bottom: 8px;
    }
}