.cover__subtitle {
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin:0;
    padding: 0;
    max-width: 360px;
    top: calc(44px + 31.12% + 184px);
    left: calc(50% - 180px);
    right: calc(50% - 180px);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", "Arial", "sans-serif";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.222;
    letter-spacing: 0em;
    text-align: center;
    z-index: 30;
}
@media screen and (max-width: 1024px) {
    .cover__subtitle  {
        top: calc(44px + 28.36% + 184px);
    }
}
@media screen and (max-width: 768px) {
    .cover__subtitle {
        top: calc(88px + 20.5% + 184px);
    }
}
@media screen and (max-width: 680px) {
    .cover__subtitle {
        top: calc(25% + 58.35px + 116px);
    }
}
@media screen and (max-width: 480px) {
    .cover__subtitle {
        max-width: 320px;
        top: calc(16.5% + 171px);
        left: calc(50% - 144px);
        right: calc(50% - 144px);
        font-size: 14px;
        line-height: 1.142;
    }
}
@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        left: calc(50% - 144px);
        right: calc(50% - 144px);
        top: calc(16.5% + 110px);
        font-size: 14px;
        line-height: 1.142;
    }
}

.cover__subtitle:hover + #bcd {
    opacity: 0.3;
}