.header__logo {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
    max-width: 176px;
    height: auto;
}
@media screen and (max-width: 480px) {
    .header__logo {
        max-width: 142px;
        height: auto;
    }
}
@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 142px;
        height: auto;
    }
}