.content {
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

