.place__paragraph {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
}
@media screen and (max-width: 480px) {
    .place__paragraph {
        padding: 0px 16px 0px 16px;
    }
}
@media screen and (max-width: 320px) {
    .place__paragraph {
        padding: 0px 16px 0px 16px;
        max-width: 288px;
    }
}