.place__paragraph {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 25px 0px;
    justify-content: space-between;
    align-self: start;
}
@media screen and (max-width: 480px) {
    .place__paragraph {
        padding: 0px 16px 0px 16px;
    }
}
@media screen and (max-width: 320px) {
    .place__paragraph {
        padding: 0px 16px 0px 16px;
        max-width: 288px;
    }
}