.intro__text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 690px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", "Arial", "sans-serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.63;
    letter-spacing: 0em;
    text-align: left;
    white-space: normal;
    hyphens: auto;
}
@media screen and (max-width: 768px) {
    .intro__text {
        max-width: 720px;
    }
}
@media screen and (max-width: 320px) {
    .intro__text {
        left: calc(50% - 144px);
        right: calc(50% - 144px);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
    }
}