.place__link {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 22px;
    max-width: 456px;
    left: 0;
    top: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    white-space: nowrap;
    align-self: end;
    opacity: 1;
    cursor:url(../../../../images/Pointer.png), pointer;
}
.place__link:hover {
    border: 1px solid #000000CC;
    opacity: 0.8;
    -webkit-box-shadow: 0px 1px 3px 0px #00000033;
    box-shadow: 0px 1px 3px 0px #00000033;

}