.place__link {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 456px;
    left: 0;
    top: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", "Arial", "sans-serif";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    white-space: nowrap;
    align-self: end;
    opacity: 1;
    cursor:url(../../../images/Pointer.png), pointer;
}
.place__link:hover {
    opacity: 0.8;
}