.cover__overlay {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 245px;
  padding-bottom: 245px;
  z-index: 10;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", "Arial", "sans-serif";
  color: #ffffff;
  cursor:url(../../../images/Pointer.png), pointer;
  background: linear-gradient(rgba(85, 86, 93, 0.3), rgba(85, 86, 93, 0.3)), #000 url(../../../images/cover-trains.jpg) no-repeat center / cover;
}
@media screen and (max-width: 1024px) {
  .cover__overlay {
    padding-top: 195px;
    padding-bottom: 195px;
  }
}
@media screen and (max-width: 768px) {
  .cover__overlay {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}
@media screen and (max-width: 680px) {
  .cover__overlay {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}
@media screen and (max-width: 480px) {
  .cover__overlay {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}
@media screen and (max-width: 320px) {
  .cover__overlay {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}
.cover__overlay:hover {
  background: linear-gradient(rgba(85, 86, 93, 0.8), rgba(85, 86, 93, 0.8)), #000 url(../../../images/cover-trains.jpg) no-repeat center / cover;
}