.cover__title {
    position: absolute;
    margin: 0 auto;
    left: calc( 50% - 280px );
    right: calc( 50% - 280px );
    top: 32.97%;
    height: 152px;
    width: 560px;
    font-family: Inter;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.0555;
    letter-spacing: 0.05em;
    text-align: center;
    vertical-align: top;
    z-index: 30;
}
@media screen and (max-width:650px) {
    .cover__title {
        top: 99px;
    }
}
@media screen and (max-width: 320px) {
    .cover__title {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 auto;
        width: 288px;
        height: 70px;
        top: 33px;
        font-family: Inter;
        font-size: 32px;
        font-weight: 900;
        line-height: 1.094;
        letter-spacing: 0em;
        text-align: center;
    }
}
.cover__title:hover + #sbt + #bcd {
    opacity: 0.3;
}