.cover__title {
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    left: calc( 50% - 280px );
    right: calc( 50% - 280px );
    top: calc(44px + 31.12%);
    max-width: 560px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", "Arial", "sans-serif";
    font-size: 72px;
    font-weight: 900;
    line-height: 1.0555;
    letter-spacing: 0em;
    text-align: center;
    vertical-align: top;
    white-space: normal;
    z-index: 30;
}
@media screen and (max-width: 1024px) {
    .cover__title {
        top: calc(44px + 28.36%);
    }
}
@media screen and (max-width: 768px) {
    .cover__title {
        top: calc(88px + 20.5%);
    }
}
@media screen and (max-width: 680px) {
    .cover__title {
        max-width: 400px;
        left: calc(50% - 200px);
        right: calc(50% - 200px);
        top: calc(25% + 58.35px);
        font-size: 48px;        
    }
}
@media screen and (max-width: 480px) {
    .cover__title {
        max-width: 288px;
        left: calc(50% - 144px);
        right: calc(50% - 144px);
        top: calc(16.5% + 85px);
        font-size: 32px;
    }
}
@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        left: calc(50% - 144px);
        right: calc(50% - 144px);
        top: 65px;
        font-size: 32px;
    }
}
.cover__title:hover + #sbt + #bcd {
    opacity: 0.3;
}