.place__url-heading {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    height: 12px;
    max-width: 456px;
    left: 0;
    bottom: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2px;
    text-align: left;
    padding-bottom: 12px;
    color: #AAAAAA;
}