.place__website {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px 0px 48px 0px;
    max-width: 456px;
}
@media screen and (max-width: 680px) {
    .place__website {
        margin: 0;
        grid-row-start:2;
        grid-row-end: 3;
    }
}
@media screen and (max-width: 480px) {
    .place__website {
        padding-left: 16px;
        padding-right: 16px;
        grid-row-start:2;
        grid-row-end: 3;
    }
}
@media screen and (max-width: 320px) {
    .place__website {padding-top: 0px;
        padding-left: 16px;
        padding-right: 16px;
        grid-row-start:2;
        grid-row-end: 3;
    }
}