.intro__title {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    padding-top: 92px;
    padding-left: 148px;
    padding-right: 0px;
    padding-bottom: 0px;
    max-width: 690px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", "Arial", "sans-serif";
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.07;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
}
@media screen and (max-width: 1024px) {
    .intro__title {
        padding-left: 48px;
        white-space: normal;
    }
}
@media screen and (max-width: 768px) {
    .intro__title {
        padding-left: 24px;
        padding-top: 88px;
        max-width: 720px;
        white-space: normal;
    } 
}
@media screen and (max-width: 425px) {
    .intro__title {
        padding: 64px 16px 0px 16px;
        max-width: 288px;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 1.09;
        white-space: normal;
    }
}
@media screen and (max-width: 320px) {
    .intro__title {
        padding: 64px 16px 0px 16px;
        max-width: 288px;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 1.09;
        white-space: normal;
    }
}