.intro__title {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding-top: 92px;
    padding-bottom: 40px;
    left: 148px;
    height: auto;
    max-width: 690px;
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.07;
    letter-spacing: 0em;
    text-align: left;
    white-space: normal;
}
@media screen and (max-width: 1024px) {
    .intro__title {
        left: 48px;
    }
}
@media screen and (max-width: 768px) {
    .intro__title {
        left: 24px;
        padding-top: 88px;
        max-width: 720px;
    } 
}
@media screen and (max-width: 320px) {
    .intro__title {
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
        height: 134px;
        min-width: 288px;
        left: 0;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 1.09;
        text-align: left;
        white-space: normal;
    }
}